@media (max-width: 768px) {
    .login-mobile {
        background: #ffb700;
        color: white;
        display: block;
        float: right;
        height: auto;
        line-height: 40px;
        position: relative;
        padding: 25px;
        top: 170px;
    }
    span {
        font-size: 32px;
    }
    .line {
        display: inline-block;
        font-size: 40px;
    }
    .line>img {
        width: 45%;
    }
    .login-mobile>p {
        margin-top: 20px;
    }
    .login {
        display: none;
    }
    .iphone {
        display: none;
    }
    .iphone-mobile {
        background-color: #ffb700;
        color: white;
        display: block;
        padding-top: 30px;
        text-align: center;
    }
    .border-mobile {
        border: 1px solid white;
        height: auto;
        overflow: hidden;
        margin: 0 auto;
        width: 90%;
    }
    .border-mobile>h1 {
        font-size: 25px;
    }
    .iphone-mobile>p {
        margin-top: 10px;
    }
    .img-mobile>img {
        width: 29%;
        padding: 2%
    }
    .driver-mobile {
        background-image: url("../assets/images/conduce.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 80vh;
        padding: 0px;
    }
    .container-button-mobile {
        background-color: black;
        display: block;
        height: 80vh;
        opacity: 0.7;
        padding: 50px;
    }
    .container-button {
        display: none;
    }
    .container-button-mobile>h1 {
        color: white;
        font-size: 30px;
        margin-top: 90px;
    }
    .container-button-mobile>p {
        color: white;
        font-size: 25px;
    }
    .btn-driver-mobile {
        background-color: #ffb700;
        border-style: none;
        color: white;
        margin-bottom: 25px;
    }
    .footer {
        display: none;
    }
    .footer-mobile {
        display: block;
    }
    .logo-lab-black-mobile {
        margin-left: 5%;
    }
    .logos-app-mobile>i {
        margin-bottom: 50px;
    }
    .logos-app-mobile>div>img {
        width: 85%;
    }
}